@charset "utf-8";
	.st0
{
	background : #FFFFFF;
	background : rgba(255, 255, 255, 1);
	position : absolute ;
	left : 0px;
	top : 0px;
	width : 406px;
	height : 38px;
	border-radius : 0px  / 22px 20px 0px 0px;
	-moz-border-radius : 0px  / 22px 20px 0px 0px;
	-webkit-border-radius : 0px  / 22px 20px 0px 0px;
}
